name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.140.0' # A very stable version for Toha v4
          extended: true

      - name: Build
        run: |
          # If go.mod doesn't exist, create it
          test -f go.mod || hugo mod init github.com/MohammedFawazKP/MohammedFawazKP.github.io
          hugo mod get github.com/hugo-toha/toha/v4
          hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
